{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Космическое агентство</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="{% static "nasa_project/css/style.css" %}" type="text/css">
</head>
<body>

<!-- Навигация -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container pe-5">
        <button class="navbar-toggler pull-left" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="{% static "nasa_project/images/logo.svg" %}" alt="Логотип Космического агентства" class="logo">
        </a>

        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-3">
                    <a class="nav-link text-uppercase" href="#">Преимущества</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#">Фотографии</a>
                </li>
            </ul>
        </div>
        <li class="list-unstyled nav-item">
            <button class="btn btn-danger ms-sm-3 text-uppercase">Вход</button>
        </li>
    </div>
</nav>

<!-- Основной контент -->
<div class="container container-slide mt-5">
    <div class="row justify-content-center text-center">
        <div class="col-lg-8">
            <h1 class="display-4 fw-bold">Космическое агентство</h1>
            <p class="lead">Национальное управление по аэронавтике и исследованию космического пространства — ведомство, относящееся к федеральному правительству США и подчиняющееся непосредственно президенту США.</p>
        </div>
    </div>
    <div class="col d-lg-flex text-center">
        <div class="icons row row-cols-2 justify-content-center text-center my-5">
            <!-- Первая строка с иконками -->
            <div class="col mb-4 ">
                <img src="{% static 'nasa_project/images/fa6-solid_shuttle-space.svg' %}" alt="Иконка 1" class="icon">
                <p>Свое шасси — пилотируемые корабли</p>
            </div>
            <div class="col mb-4 ">
                <img src="{% static 'nasa_project/images/ion_telescope.svg' %}" alt="Иконка 2" class="icon">
                <p>Лучшее технологическое оборудование</p>
            </div>

            <!-- Вторая строка с иконками -->
            <div class="col mb-4 ">
                <img src="{% static 'nasa_project/images/bi_moon-stars-fill.svg' %}" alt="Иконка 3" class="icon">
                <p>Целимся на Луну и Марс</p>
            </div>
            <div class="col mb-4 ">
                <img src="{% static 'nasa_project/images/bxs_medal.svg' %}" alt="Иконка 4" class="icon">
                <p>Золотая медаль по научным исследованиям</p>
            </div>
        </div>
        <!-- Главное изображение справа -->
        <div class="col-lg-6">
            <div class="main-image">
                <img src="{% static 'nasa_project/images/main_images.jfif' %}" alt="Главное изображение" class="img-fluid rounded">
            </div>
        </div>
    </div>
</div>

<!-- Фотографии -->
<section class="photo-section text-center">
    <div class="container">
        <h2 class="section-title">Фотографии</h2>
        <!-- Основной слайдер -->
        <div class="slider-for">
            {% for slide in slides %}
                <div class="slider-item">
                    <img src="{{ slide.image.url }}" alt="{{ slide.title }}" class="img-fluid rounded">
                </div>
            {% endfor %}
        </div>
        <!-- Миниатюры для слайдера -->
        <div class="slider-nav mt-4">
            {% for slide in slides %}
                <div class="img-fluid-slide">
                    <img src="{{ slide.image.url }}" alt="{{ slide.title }}" class="img-fluid rounded">
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Модальное окно -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body position-relative">
                <!-- Стрелки -->
                <button type="button" class="btn btn-dark position-absolute start-0 top-50 translate-middle-y" id="prevImage">
                    <span>&#10094;</span>
                </button>
                <img src="" id="modalImage" class="img-fluid" alt="Полноразмерное изображение">
                <button type="button" class="btn btn-dark position-absolute end-0 top-50 translate-middle-y" id="nextImage">
                    <span>&#10095;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Скрипты -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <script src="{% static 'nasa_project/js/scripts.js' %}"></script>
</body>
</html>
